@page "/challenges/details/{challengeId}"

@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@using SportClubsChallenges.Utils.Enums;

@inject IChallengeService challengeService
@inject IIdentityService identityService
@inject IHttpContextAccessor httpContextAccessor

@attribute [Authorize]

@if (challengeDetails == null && rankList == null)
{
    <Loading />
}
else
{
    <div class="clr-row">
        <div class="clr-col-md-6 clr-col-12">
            <Card>
                <CardHeader>
                    <clr-icon shape="info-standard"></clr-icon>
                    <span>Details</span>
                </CardHeader>
                <CardBody>
                    <CardBlock>
                        <div>Name:</div>
                        <b>@challengeDetails.Name</b>
                        @if (!string.IsNullOrEmpty(challengeDetails.Description))
                        {
                            <div style="margin-top:10px">Description:</div>
                            <b>@challengeDetails.Description</b>
                        }
                        <div style="margin-top:10px">Author:</div>
                        <b>@challengeDetails.AuthorName</b>
                        <div style="margin-top:10px">Club:</div>
                        <b>@challengeDetails.ClubName</b>
                        <br />
                        @if (!string.IsNullOrEmpty(challengeDetails.ClubIconUrl))
                        {
                            <CardMediaBlock ImageSource="@challengeDetails.ClubIconUrl" />
                        }
                        <div style="margin-top:10px">Date range:</div>
                        <b>@challengeDetails.StartDate.ToString("dd/MM/yyyy") - @challengeDetails.EndDate.ToString("dd/MM/yyyy")</b>
                        <div style="margin-top:10px">Competition type:</div>
                        <b><ChallengeCompetitionType Type="@challengeDetails.CompetitionType" /></b>
                        <div style="margin-top:10px">Activity types:</div>
                        <b>
                            @if (challengeDetails.ActivityTypes == null || !challengeDetails.ActivityTypes.Any())
                            {
                                <span>All types</span>
                            }
                            else
                            {
                                @foreach (var acivityType in challengeDetails.ActivityTypes)
                                {
                                    <Label>@acivityType</Label>
                                }
                            }
                        </b>
                    </CardBlock>
                </CardBody>
            </Card>
        </div>
        <div class="clr-col-md-6 clr-col-12">
            <Card>
                <CardHeader>
                    <clr-icon shape="bar-chart"></clr-icon>
                    <span>Classification</span>
                </CardHeader>
                <CardBody>
                    <CardBlock>
                        <Datagrid TRowData="ChallengeRankPositionDto" Items="rankList" RowClass="GetClassificationGridRowClass" Placeholder="We couldn't find any participant in this challenge!">
                            <DatagridColumn TRowData="ChallengeRankPositionDto" Title="Rank" Field="c => c.Rank" CanSort="true" CanFilter="true" />
                            <DatagridColumn TRowData="ChallengeRankPositionDto" Title="Athlete" Field="c => c.AthleteName" CanSort="true" CanFilter="true">
                                <img src="@context.AthleteIconUrl" class="strava-user-icon" />
                                <span>@context.AthleteName</span>
                            </DatagridColumn>
                            <DatagridColumn TRowData="ChallengeRankPositionDto" Title="Score" Field="c => c.Score" CanSort="true" CanFilter="true">
                                @UnitHelper.GetScoreDescription(context.Score, challengeDetails.ScoreUnit)
                            </DatagridColumn>
                            <DatagridFooter TRowData="ChallengeRankPositionDto">
                                <DatagridFooterDescription TRowData="ChallengeRankPositionDto">@challengeDetails.ParticipantsCount participant(s)</DatagridFooterDescription>
                            </DatagridFooter>
                        </Datagrid>
                        @if (challengeDetails.UpdateDate.HasValue)
                        {
                            <div class="clr-row">
                                <div class="clr-col-12 text-right" style="font-size: 0.55rem">
                                    Last update: @challengeDetails?.UpdateDate.Value.ToString("dd/MM/yyyy HH:mm")
                                    <a role="button"><clr-icon shape="refresh" @onclick="() => ConfirmUpdateClassification(challengeDetails.Id)"></clr-icon></a>
                                </div>
                            </div>
                        }
                    </CardBlock>
                </CardBody>
                <CardFooter>
                    <Button Flat="true" Small="true" OnClick="() => ConfirmJoinChallenge(challengeDetails.Id, challengeDetails.Name)" Disabled="@IsJoinButtonDisabled">Join to challenge</Button>
                    <Button Flat="true" Small="true" OnClick="() => ConfirmLeaveChallenge(challengeDetails.Id, challengeDetails.Name)" Disabled="@IsLeaveButtonDisabled">Leave challenge</Button>
                </CardFooter>
            </Card>
        </div>
    </div>
}

@code {
    [Parameter]
    public string ChallengeId { get; set; }

    private long athleteId;

    private ChallengeDetailsDto challengeDetails;

    private List<ChallengeRankPositionDto> rankList;

    [CascadingParameter]
    public MainLayout Layout { get; set; }

    private bool IsJoinButtonDisabled => challengeDetails == null
        || challengeDetails.Status == ChallengeStatusEnum.Finished
        || challengeDetails.Status == ChallengeStatusEnum.Inactive
        || rankList == null
        || rankList.Any(p => p.AthleteId == athleteId);

    private bool IsLeaveButtonDisabled => challengeDetails == null
        || challengeDetails.Status == ChallengeStatusEnum.Finished
        || challengeDetails.Status == ChallengeStatusEnum.Inactive
        || rankList == null
        || !rankList.Any(p => p.AthleteId == athleteId);

    protected override async Task OnInitializedAsync()
    {
        if (ChallengeId == null || !long.TryParse(ChallengeId, out long challengeId))
        {
            return;
        }

        var user = httpContextAccessor.HttpContext.User;
        athleteId = identityService.GetAthleteIdFromIdentity(user.Identity as ClaimsIdentity);

        await this.LoadData(challengeId);
    }

    private async Task LoadData(long challengeId)
    {
        challengeDetails = await challengeService.GetChallenge(challengeId);
        if (challengeDetails == null)
        {
            return;
        }

        rankList = await challengeService.GetChallengeRank(challengeId, athleteId);
    }

    private Func<ChallengeRankPositionDto, int, string> GetClassificationGridRowClass = (positionDto, columnNumber) =>
    {
        var cssClassName = string.Empty;

        if (positionDto.Rank == 1 && positionDto.Score > 0)
        {
            cssClassName += "font-bold ";
        }

        if (positionDto.Score == 0)
        {
            cssClassName += "font-italic ";
        }

        if (positionDto.IsCurrentUserRank)
        {
            cssClassName += "row-selected ";
        }

        return cssClassName.Trim();
    };

    private void ConfirmLeaveChallenge(long challengeId, string challengeName)
    {
        this.Layout.popupWrapper.ShowConfirmation(
            $"Do you really want to leave challenge '{challengeName}'?",
            () => LeaveChallenge(challengeId, challengeName));
    }

    private async Task LeaveChallenge(long challengeId, string challengeName)
    {
        await challengeService.LeaveChallenge(this.athleteId, challengeId);

        this.Layout.alertWrapper.ShowAlert($"You leave '{challengeName}' challenge!");

        await this.LoadData(challengeId);
        this.StateHasChanged();
    }

    private void ConfirmJoinChallenge(long challengeId, string challengeName)
    {
        this.Layout.popupWrapper.ShowConfirmation(
            $"Do you really want to join to challenge '{challengeName}'?",
            () => JoinChallenge(challengeId, challengeName));
    }

    private async Task JoinChallenge(long challengeId, string challengeName)
    {
        await challengeService.JoinChallenge(this.athleteId, challengeId);

        this.Layout.alertWrapper.ShowAlert($"You successfully join to '{challengeName}' challenge!");

        await this.LoadData(challengeId);
        this.StateHasChanged();
    }

    protected void ConfirmUpdateClassification(long challengeId)
    {
        this.Layout.popupWrapper.ShowConfirmation(
            $"Do you really want to manually update challenge classification?",
            () => QueueUpdateClassification(challengeId));
    }

    protected async Task QueueUpdateClassification(long challengeId)
    {
        await challengeService.UpdateChallengeRank(challengeId);

        this.Layout.alertWrapper.ShowAlert($"Update job triggered, classification should be updated soon.");
    }
}